{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"> My Board Collection</li>
{% endblock %}

{% block content %}

<table bgcolor="#b0e0e6" border="1" class="table">
    <thead class="thead-dark">
    <tr>
    <th> Boards </th>
    <th> Posts </th>
    <th> Topics </th>
    <th> Last Post </th>
    </tr>
    </thead>

    <tbody>
    {% for board in boards %}
    <tr>
    <td> <a href="{% url 'board_topics' board.pk%}"> {{ board.name }} </a>
        <br>
        <small class="text-muted d-block" style="color: #888888;"> {{ board.description }} </small>
    </td>
    <td class="align-middle"> {{ board.get_posts_count }} </td>
    <td class="align-middle"> {{ board.topics.count }} </td>
    <td> {% with post=board.get_last_post %}
             {% if post %}
           <small>
                <a href="{% url 'topic_posts' board.pk post.topic.pk %}">
                  By {{ post.created_by.username }} at {{ post.created_at }}
                </a>
              </small>
             {% else %}
        <small class="text-muted">
        <em>No posts yet.</em>
        </small>
           {% endif %}
            {% endwith %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}